body .card{
    text-align: center;
    width: 40%;
    margin-left: 500px;
    margin-top: 200px;
}
.card{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow:  10px 10px 10px 10px rgb(225, 225, 225);
}
#input{
    border: 0;
    outline: 0;
    background: #47ecd4;
    color: #555;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    margin-bottom: 20px;
}
#input:hover{
    scale: 1.1;
}
#password{
    border: 0;
    outline: 0;
    background: #47ecd4;
    color: #555;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
#password:hover{
    scale: 1.1;
}
#submit{
    border: 0;
    outline: 0;
    background-color: #306458;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    margin-top: 20px;
    scale: 1.2;
    margin-bottom: 10px;
}
#submit:hover{
    scale: 1.1;
}
.card p{
    cursor: pointer;
}
#name{
    border: 0;
    outline: 0;
    background: #47ecd4;
    color: #555;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    margin-bottom: 20px;

}
#new-user{
    border: none;
    background-color: transparent;
    cursor: pointer;
}